/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
}

ul li {
    list-style: none;
}

.error-message {
    color: red;
}

.delete-form {
    display: inline;
}

.error {
    color: red;
    font-style: italic;
}

.container {
    margin: auto;
    padding: 10px 50px;
}

.container header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #0087be;
    color: white;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 5px;
    transition: 500ms;
}

.button:hover {
    background-color: #999;
    transition: 300ms;
}

/* Navbar */
.main-navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
}

.main-navbar .left-navbar {
    flex-grow: 4;
}

.main-navbar .left-navbar ul,
.main-navbar .right-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navbar .left-navbar ul li,
.main-navbar .right-navbar ul li {
    padding: 20px;
}

.main-navbar .middle-logo {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-navbar .middle-logo h3 {
    flex-grow: 2;
}

.main-navbar .middle-logo img {
    flex-grow: 1;
    width: 25px;
}

.main-navbar .right-navbar {
    flex-grow: 4;
    text-align: right;
}

.main-navbar .left-navbar ul li a,
.main-navbar .right-navbar ul li a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 500ms;
}

.main-navbar .left-navbar ul li a:hover,
.main-navbar .right-navbar ul li a:hover {
    transition: 300ms;
    color: #dd9933;
}

/* Homepage */
.homepage {
    display: flex;
    height: 100vh;
}

/* Articles */
#articles {
    flex-grow: 2;
    flex-basis: 67%;
}

.article {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.entry-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.title a {
    text-decoration: none;
    color: #000;
    transition: 500ms;
}

.title a:hover {
    transition: 300ms;
    color: #dd9933;
}

.timestamp {
    font-family: Lato, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 10px;
    text-align: center;
}

.summary {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sidebar */
.sidebar {
    flex-grow: 1;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item-common {
    border-radius: 5px;
    margin-bottom: 20px;
    width: 75%;
    border: 1px solid #000;
    padding: 25px 35px;
}

.sidebar #how-to-blog #how-to-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar #how-to-blog #how-to-blog-container img {
    width: 90%;
    margin-bottom: 15px;
}

.sidebar #how-to-blog #how-to-blog-container p {
    width: 90%;
}

.sidebar #email-subscription {
    height: 300px;
}

.sidebar #email-subscription #email-subscription-content p {
    margin-bottom: 10px;
}

.sidebar #email-subscription #email-subscription-content label {
    font-size: 13px;
}

.sidebar #email-subscription #email-subscription-content input {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.sidebar #email-subscription #email-subscription-content input:focus {
    outline: none;
    background-color: #ebebeb;
    transition: 300ms;
}

.sidebar #email-subscription #email-subscription-content button {
    border: none;
    cursor: pointer;
    font-size: 15px;
}

/* Footer */
.footer {
    text-align: center;
}

.footer .contact {
    padding: 10px;
}

.footer .contact a {
    padding: 5px;
}

.footer .contact a i {
    color: #000;
}

/* Login And Regiter Form */
.login-register-form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#login-register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: auto;
}

#login-register-form form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 350px;
    padding: 20px;
}

#login-register-form form .title {
    text-align: left;
}

#login-register-form form .title h3 {
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 600;
    text-transform: lowercase;
}

#login-register-form form .title h3::first-letter {
    text-transform: uppercase;
}

#login-register-form form .title p {
    font-size: 0.8rem;
    line-height: 1.25;
    font-weight: 400;
    text-transform: lowercase;
}

#login-register-form form .title p::first-letter {
    text-transform: uppercase;
}

#login-register-form form .form-input-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

#login-register-form form .form-input-area input {
    height: 52px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 20px;
}

#login-register-form form .form-input-area input:focus {
    border: 2px solid #0a66c2;
    outline: none;
    transition: all 150ms ease;
}

#login-register-form form #main-options input {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 52px;
    border-radius: 28px;
}

#login-register-form form #seperator {
    display: flex;
    margin-top: 12px;
    align-items: center;
}

#login-register-form form #seperator span {   
    font-size: 1rem;
    line-height: 1.42857;
    font-weight: 400;   
    color: rgba(0,0,0,0.6);
    margin: 0 12px;
}

#login-register-form form #seperator::before,
#login-register-form form #seperator::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}

#login-register-form form #alternative-options {
    text-align: center;
}

#login-register-form form #alternative-options a {
    text-decoration: none;
}

#login-register-form form #alternative-options a:hover {
    text-decoration: underline;
}