<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Personal Blog | 404</title>
</head>
<body>
    <h1>Not Found</h1>
    <h3>Oops ! The content you are looking for cannot be found</h3>
    <p><a href="/">Click here</a> to return to home page</p>
</body>
</html>