<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footer" class="footer">
            <div class="contact">
                <a href="https://www.linkedin.com/in/quanganh/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="https://github.com/QuangAnh321" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
            </div>
            <p>Copyright © 2023 The Simple Blog</p>
        </div>
    </body>
</html>