<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <title>Personal Blog | Home</title>
</head>
<body>
    <div class="container">
        <header>
            <div th:replace="~{navbar :: main-navbar}"></div>
        </header>

        <section class="homepage">
            <section id="articles">
                <div class="article" th:each="blog : ${allBlogs}">
                    <h2 class="title">
                        <a th:text="${blog.title}" th:href="@{/blog/read/{id}(id=${blog.id})}">someTitle</a>
                    </h2>
                    <span><a sec:authorize="isAuthenticated()" th:href="@{/blog/update/{id}(id=${blog.id})}"><i class="fa-solid fa-pencil"></i></a></span>
                    <form class="delete-form" sec:authorize="isAuthenticated()" method="post" th:action="@{/blog/delete/{id}(id=${blog.id})}">
                        <input type="hidden" name="blogId" th:value="${blog.id}">
                        <button type="submit" name="Delete">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </form>
                    <p class="timestamp" th:text="${blog.createdAt}">someTimestamp</p>
                    <div class="entry-content">
                        <p class="summary"><span th:text="${blog.contentSummary}"></span> ...</p>
                        <a th:href="@{/blog/read/{id}(id=${blog.id})}" class="button button-read-more">Read More</a>
                    </div>
                </div>
            </section>

            <aside class="sidebar">
                <div id="how-to-blog" class="sidebar-item-common">
                    <div id="how-to-blog-container">
                        <img src="/images/howToBlog.webp" alt="how-to-create-a-blog">
                        <p>5 bước xây dựng một blog thành công & 1 khoá học làm blog miễn phí. Xem tại <a href="#">đây</a></p>
                    </div>
                </div>
                <div id="email-subscription" class="sidebar-item-common">
                    <div id="email-subscription-content">
                        <p>Nhận bài viết mới qua email</p>
                        <form action="#" method="post">
                            <label for="name">Name</label>
                            <input type="text" id="name" placeholder="Name">
                            <label for="email">Email</label>
                            <input type="email" id="email" placeholder="Email">

                            <button type="submit" class="button">Theo dõi</button>
                        </form>
                    </div>
                </div>
            </aside>
        </section>

        <footer>
            <div th:replace="~{footer :: footer}"></div>
        </footer>
    </div>

    <script th:src="@{/js/quillToolKit.js}"></script>
</body>

</html>