<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Personal Blog | Home</title>
</head>
<body>
    <header id="navigation">
        <h1>My Personal Blog</h1>
        <h2><a href="/create" target="_blank">Create a new blog</a></h2>
        <a href="/login" target="_blank">Sign In</a>
        <a href="/register" target="_blank">Sign Up</a>
    </header>
    
    <section id="articles">
        <h2>All your blogs</h2>

        <div class="article" th:each="blog : ${allBlogs}">
            <a class="title" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">someTitle</a>
            <p class="timestamp" th:text="${blog.createdAt}">someTimestamp</p>
            <p class="summary" th:text="${blog.content}">someSummary</p>
            <br>
        </div>
    </section>
</body>
</html>