<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Personal Blog | Login</title>
</head>
<body>
    <div id="login-form">
        <form th:action="@{/login}" method="post">
            <div class="title">
                <h3>Sign In</h3>
                <p>Let's write down what's on your mind</p>
                <div class="error-message" th:if="${param.error}">
                    Invalid username and/or password.</div>
                <div class="error-message" th:if="${param.logout}">
                    You have been logged out.</div>
            </div>
            <div class="login">
                <input type="text" name="username" placeholder="Your Username">
                <input type="password" name="password" placeholder="Your Password">
            </div>
    
            <div class="login-options">
                <input type="submit" value="Log In">
            </div>
        </form>
    </div>

    <h4>First time here ? <a href="/register">Sign Up Now</a></h4>
</body>
</html>