<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="main-navbar" class="main-navbar">
            <div class="left-navbar">
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="#">Podcast</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/login">Sign In</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/register" target="_blank">Sign Up</a></li>
                    <li sec:authorize="isAuthenticated()"><p>Hello: <span sec:authentication="name"></span></p></li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout" />
                        </form>
                    </li>
                </ul>
            </div>

            <div class="middle-logo">
                <img src="/images/blog.png" alt="Blog icon">
                <h3>The Simple Blog</h3>
            </div>
            
            <div class="right-navbar">
                <ul>
                    <li><a href="/blog/create">Create a new blog</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="/blog/random">Random Blog</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>