<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <title>Personal Blog | Update Blog</title>
</head>
<body th:onload="loadCurrentBlogContent([[${blogViewDTO.content}]])">
    <div class="container">
        <header>
            <div th:replace="~{navbar :: main-navbar}"></div>
        </header>

        <div class="blog-form">
            <h1 class="blog-form-title">Update Current Blog</h1>
            <form action="#" th:action="@{/blog/update/} + ${blogViewDTO.id}" method="post" th:object="${blogUpdateDTO}" id="update-current-blog-form">
                <div class="blog-form-section">
                    <label for="title">Title:</label>
                    <span class="error" th:if="${#fields.hasErrors('newTitle')}" th:errors="*{newTitle}">Title Error</span><br>
                    <input type="text" name="newTitle" class="title-input" th:value="${blogViewDTO.title}" placeholder="Your Blog Title">
                </div>
        
                <div class="blog-form-section">
                    <label for="content">Content:</label><br>
                    <div id="editor">
                        <p th:text="${blogViewDTO.content}"></p>
                    </div>
                </div>
    
                <div class="blog-form-section">
                    <label for="category">Category:</label><br>
                    <select name="category" disabled>
                        <option th:value="${categoryOfBlogToUpdate.id}" th:text="${categoryOfBlogToUpdate.name}"></option>
                    </select>
                </div>
    
                <input type="hidden" value="" id="blog-content-hidden" th:field="*{newContent}">
                <input type="hidden" value="" id="blog-content-summary-hidden" th:field="*{newContentSummary}">
                <input type="hidden" value="" id="blog-content-formatted-hidden" th:field="*{newContentFormatted}">
    
                <br>
                <input type="submit" value="update" onclick="updateCurrentBlog()">
            </form>
        </div>

        <footer>
            <div th:replace="~{footer :: footer}"></div>
        </footer>
    </div>

    <script th:src="@{/js/quillToolKit.js}"></script>
</body>
</html>